body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.custom-color {
  /* color: red ; */
  color: #071d49;
}
.margin0 {
  margin: 0px;
}
/* width */
::-webkit-scrollbar {
  width: 100%;
  height: 4px;
  /* overflow: ; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3bbfb5;
  border-radius: 10px;
}

.navbar {
  font-size: 14px;
  font-weight: 500;
}
.logo {
  width: 185px;
  height: 33px;
}
.downsideArrow {
  width: 6px;
}
.searchLogo {
  width: 17px;
}
.getTouchBtn {
  background-color: #c5def4;
  border-radius: 4px;
}

.heroTextDiv {
  padding: 5%;
}

.COAheadline {
  font-weight: 800;
  font-size: 48px;
  color: #071d49;
  line-height: 57px;
  letter-spacing: -1px;
}
.COAsubHead {
  font-weight: 500;
  color: #071d49;
}
.learnBtn {
  background-color: #254aa0;
  color: white;
  font-size: 16px;
  border-radius: 4px;
}

.linearGradient {
  background: linear-gradient(#3bbfb5 0%, #254aa0 81%);
  color: white;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
  padding: 5% 20% 5% 15%;
  margin-top: -180px;
  z-index: 1;
  position: relative;
}
.gradientTitle {
  font-weight: 800;
  font-size: 2rem;
}
/* .gradientSmallText */
.gradientSmallText {
  font-size: 1rem;
  font-weight: 400;
}

.ourSolutions {
  color: #071d49;
  font-size: 2.5rem;
  font-weight: 700;
}

.links-div {
  border-left: 1px solid #6cace4;
  font-size: 1rem;
}
.link {
  font-weight: 500;
  color: #254aa0;
}
.link:hover {
  /* background-color: #071d49 !important; */
  border-left: 5px solid #6cace4;
  color: black;
}

/* right column */
.solution-img-div {
  background-image: linear-gradient(#3bbfb5, #99cc33, #6cace4);
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100px;
  padding-left: 2%;
}

.assessment-heading {
  font-weight: 600;
  font-size: 1.25rem;
}
.assessment-desc,
.assessment-list,
list {
  font-weight: 400;
  font-size: 0.75rem;
}

.contactus-btn,
.access-btn {
  background-color: #254aa0;
}
.checklist {
  font-weight: 700;
  font-size: 2.5rem;
  color: #071d49;
}

/* page3  */

.page3-container {
  background-image: linear-gradient(#254aa0, #7355c0);
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-top: 10%;
}
.page-title-div {
  padding-left: 7.5%;
}
.page3-title {
  font-weight: 700;
  font-size: 2rem;
}
.page3-desc {
  font-weight: 500;
  font-size: 1rem;
}
.page3-subtitle-div {
  padding: 0% 10% 0% 15%;
  /* border: 1px solid white; */
}
.page3-subtitle {
  font-weight: 600;
  font-size: 1.25rem;
}
.page3-subtitle-desc {
  font-size: 0.75rem;
  font-weight: 400;
}
.page3-subtitle-4 {
  border-bottom: 2px solid #ff50f0;
}

/* page - 4 */
.page4-container {
  background-image: linear-gradient(#e2effa, #dcf3f0);
  padding: 10%;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.innovation {
  font-weight: 700;
  font-size: 2.5rem;
  color: #071d49;
}
.hollow-num {
  font-family: sans-serif;
  font-size: 5rem;
  font-weight: 800;
  color: #071d49;
  -webkit-text-fill-color: #e0f0f7; /*Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-size-adjust: 10px;
}
.devider-line {
  border: 2px solid #bcddd9;
}
.hollow-num-desc {
  font-weight: 600;
  font-size: 1.122rem;
  color: #071d49;
  text-align: start;
}

.page5-container {
  height: 700px;
  /* border:2px solid   #071D49 !important; */
}
.page5-title {
  font-weight: 800;
  font-size: 2rem;
  /* color: ; */
}
.page5-list {
  font-weight: 400;
  font-size: 1.1rem;
  list-style: none;
  color: #071d49;
}

/* .certifications and membership  */
.certifications {
  font-weight: 800;
  font-size: 2rem;
}
.certifications-desc {
  font-weight: 400;
  font-size: 1.115rem;
}

.certifications-img-div {
  width: 30%;
  border: 1px solid red;
}
.certifications-img {
  /* width: 30%; */
  border: 1px solid red;
}
.success-stories-btn {
  background-color: #254aa0;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px !important;
}

.organizations-headline {
  font-weight: 800;
  font-size: 2rem;
}
.organizations-subText {
  font-weight: 400;
  font-size: 0.875rem;
}

/* news section */
.news-headline {
  font-weight: 800;
  font-size: 2rem;
}
.news-subtext {
  font-weight: 500;
  font-size: 0.875rem;
  color: #666666;
  width: 60%;
}

.card-heading {
  font-weight: 700;
  font-size: 1.5rem;
}

.card {
  background-color: #ebf1f7;
  border-top-left-radius: 150px;
}
.badge {
  background-image: linear-gradient(#254aa0, #7356c0);
}
.AMSTERDAM {
  font-weight: 600;
  font-size: 0.875rem;
}

.badge-subcard1,
.badge-subcard2 {
  background-image: linear-gradient(#e2effa, #dcf3f0);
  font-weight: 500;
  font-size: 0.875rem;
  /* border: 1px solid #071D49; */
}
.badge-subcard2 {
  background-image: linear-gradient(#e9e2fc, #fbe7f0);
}

.subcard-headline {
  font-weight: 700;
  font-size: 1.5rem;
}
.subcard-desc {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.1rem;
}
.subcard-img-div,
.subcard-desc-div {
  width: 100% !important;
}

/* footerrrrrrrrrrrrrrrrrrrrrr */
.contactus-container {
  background-image: linear-gradient(#99cc33 0%, #3bbfb5 100%);
  border-radius: 100px;
  padding: 4% 10% !important;
}
.contactus-txt {
  font-weight: 700;
  font-size: 1.5rem;
}
.getintouch-btn {
  background-color: #254aa0;
}
.contactus-desc {
  font-weight: 500;
  font-size: 0.875rem;
}

/* footer menu */
.footer-menu-container {
  background-color: #071d49;
  color: white;
}

.footer-menu-title,
.footer-menu-subtext {
  font-weight: 700;
  font-size: 0.75rem;
  color: #3bbfb5;
}
.footer-menu-subtext {
  color: white;
  font-weight: 500;
}
.footer-contactus-btn {
  background-color: #ec398a;
  font-weight: 500;
  font-size: 1rem;
}

.footer-menu {
  font-size: 0.75rem;
  font-weight: 700;
  color: #3bbfb5;
  /* margin-bottom: 1%; */
  text-transform: uppercase;
}
.footer-menu-list {
  /* list-style: none ; */
  /* margin-bottom: 1%; */
  line-height: 17px;
  font-weight: 500;
  font-size: 0.875rem;
}
.footer-devider {
  background-image: linear-gradient(#6cace4, #3bbfb5);
  padding: 1px;
}
.copyright-container {
  font-weight: 500;
  font-size: 0.75rem;
}
.copyright-container {
  /* background-color: #071d49; */
}
.footer-container {
  background-color: #071d49;
}

/* ==================================================================================================== */
@media only screen and (max-width: 768px) {
  .getTouchBtn {
    background-color: #254aa0;
    color: white;
  }
  .heroTextDiv {
    padding: 5%;
    padding-right: 6%;
  }
  .COAheadline {
    font-size: 2rem;
    line-height: 120%;
  }
  .linearGradient {
    margin-top: -115px;
    padding: 10% 15%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  .gradientTitle {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .gradientSmallText {
    font-weight: 400;
    font-size: 0.85rem;
  }
  .validationBtn {
    background-color: #254aa0;
    border-radius: 4px;
    width: 245px;
  }
  .ourSolutions {
    font-weight: 700;
    font-size: 1.5rem;
  }

  /* page3 */
  .page3-container {
    padding-top: 15%;
  }
  .page3-title {
    font-size: 1.5rem;
  }

  .page3-subtitle-div {
    padding: 2% 10%;
  }
  .innovation {
    font-size: 1.5rem;
  }
  .page5-container {
    height: 600px;
  }

  /* page 5 ----------- */
  .doctor-img-div {
    width: 30%;
  }
  .doctor-img {
    width: 100%;
    height: auto !important;
  }
  .page5-area-div {
    margin: 0 !important;
    margin-left: 3% !important;
    margin-top: 2% !important;
    height: 75% !important;
  }
  .page5-title {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .page5-list {
    font-size: 1rem;
  }

  /* organizations and certifications */
  .certifications,
  .organizations-headline {
    font-weight: 700;
    font-size: 1.5rem;
    width: 75% !important;
  }
  .certifications-desc,
  .organizations-subText {
    width: 75% !important;
    font-weight: 500;
    font-size: 0.875rem;
  }
  .organizations-subText {
    width: 80% !important;
  }

  .organization-img {
    width: 35% !important;
  }

  .card-img-div,
  .card-desc {
    width: 100% !important;
  }
  .subcard-img-div,
  .subcard-desc-div {
    width: 100% !important;
  }

  .subcard-headline {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .news-headline {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .news-subtext {
    width: 100% !important;
  }

  /* footerrrrrr */
  .contactus-container {
    background-image: linear-gradient(#99cc33, #3bbfb5);
    border-radius: 0%;
  }
  .contactus-txt {
    font-size: 1.25rem;
  }
  .input-field {
    width: 75% !important;
  }

  .footer-div {
    width: 65% !important;
  }
}

@media only screen and (max-width: 375px) {
  .heroTextDiv {
    padding-right: 8%;
  }
  .linearGradient {
    margin-top: -135px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .validationBtn {
    background-color: #254aa0;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 500;
    width: 245px;
  }
  .ourSolutions {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .page5-container {
    margin-top: -130px;
    position: relative;
    z-index: -1;
  }
  .doctor-img-div {
    width: 100% !important;
    /* border:1px solid #071D49; */
  }
  .page5-list {
    height: 300px !important;
    /* position: absolute; */
    overflow: hidden;
  }
  .seemore-btn {
    background-color: #254aa0;
  }

  .white-shadow-div {
    height: 300px;
    width: 100%;

    background-image: linear-gradient(transparent, rgb(255, 255, 255));
    position: absolute;
    z-index: 2;
  }
  .organizations-container {
    padding: 1% !important;
  }

  .certifications-headline,
  .organizations-headline {
    font-weight: 700;
    font-size: 1.4rem;
    width: 100% !important;
  }
  .organizations-subText,
  .certifications-desc {
    font-weight: 400;
    text-align: center;
    margin: 5% !important;
    width: 80% !important;
  }
  .certifications-img-row1,
  .certifications-img-row2,
  .organization-img-row1,
  .organization-img-row2 {
    width: 100% !important;
  }
  .organization-img {
    width: 25% !important;
  }

  /* news section */

  /* news section */
  .card-heading {
    font-size: 1.25rem;
  }
  .card-img-div,
  .card-desc {
    width: 100% !important;
  }

  /* footer */
  .input-field {
    width: 160px  !important;
    border-radius: 4px;
    border: none;
  }
  .footer-div {
    width: 100% !important;
  }
}
